<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/">About</a></li>
                <li><a href="/faq">FAQs</a></li>
            </ul>
            <hr>
            <ul class="nav nav-sidebar">
                <h3>Articles</h3>
                <li><a href= "/pages/1">Aeroplanes</a></li>
            </ul>
        </div>
    </div>
</div>